doctype html
html 
    head 
        title this is title 
            include ./style.css
body 
    nav#navbar
    ul
        li #[a home]
        li #[a about]
        li #[a contact us]  
        li #[a services]
        li #[a class info] 

        section#introsection 
       | section for pictures

         section#sponsorsection 
       | section for sponsors
       
       footer#footer
       | our footer here 

    script 
    include /app.js